@model Saude.Models.Entity.Tipo_Cargo_Profissional_Saude

@{
	ViewData["Title"] = "Criar novo tipo de cargo de profissional de saúde";
}

<h1>Criar novo tipo de cargo de profissional de saúde</h1>

<hr />

<form asp-action="Create">
	<div class="row">
		<div class="col-md-12">
			<div asp-validation-summary="All" class="text-danger"></div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="form-group">
				<label aria-label="Nome" asp-for="Nome" class="control-label"></label>
				<input aria-label="Nome" asp-for="Nome" class="form-control" />
				<span asp-validation-for="Nome" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" aria-label="Criar" value="Criar" class="btn btn-primary" />
			</div>
		</div>
	</div>
</form>

<div>
	<a class="btn btn-info" aria-label="Voltar para a lista" asp-action="Index">Voltar para a lista</a>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
