@{
	ViewData["Title"] = "Código internacional de doenças";
}

	<h1>Código internacional de doenças</h1>

<hr />
<div>
	<div class="text-download-cid">
		Clique no botão abaixo para baixar o código internacional de doenças
	</div>
	<a class="btn btn-success" aria-label="Download" asp-action="Get" target="_blank">Download</a>
</div>

