@model IEnumerable<Saude.Models.Entity.Perfil_Acesso>

@{
    ViewData["Title"] = "Lista de perfis de acesso";
}

<h1>Lista de perfis de acesso</h1>

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                <a class="btn btn-light" aria-label="Detalhes" asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
            </td>
        </tr>
}
    </tbody>
</table>
